<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BikeRentalBarcelona.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>YAJL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B2DDCB1A13A114F700321C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2DDCB2413A114F700321C98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2E83C11139E4CE7003B43D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2E83C42139E4CE7003B43D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
